<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.styk.martin.apkanalyzer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ApkAnalyzer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.appdetail.OnInstallAppDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="package" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.appdetail.AppDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="sk.styk.martin.apkanalyzer.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.styk.martin.apkanalyzer.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.appdetail.manifest.ManifestActivity"
            android:label="@string/title_manifest"
            android:parentActivityName="sk.styk.martin.apkanalyzer.ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.styk.martin.apkanalyzer.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.intro.IntroActivity"
            android:label="@string/title_intro"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="sk.styk.martin.apkanalyzer.ui.activity.permission.detail.PermissionDetailActivity"
            android:label="@string/title_permissions"
            android:theme="@style/AppTheme"
            android:parentActivityName="sk.styk.martin.apkanalyzer.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.styk.martin.apkanalyzer.ui.activity.MainActivity" />
        </activity>

        <service android:name=".business.analysis.task.FileCopyService" />
        <service
            android:name=".business.upload.task.MultipleAppDataUploadJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name=".business.analysis.task.StringToFileSaveService" />

        <provider
            android:name=".util.file.GenericFileProvider"
            android:authorities="sk.styk.martin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="sk.styk.martin.apkanalyzer.business.database.ApkAnalyzerProvider"
            android:authorities="sk.styk.martin.apkanalyzer"
            android:exported="false" />

    </application>

</manifest>